@import url(https://fonts.googleapis.com/css?family=Lato:400,400italic,700,700italic,300italic,300);

/*** Login ***/

html {
  --ui-login-container-bg-color: #2d343c;
  --ui-login-container-border-color: #2d343c;

  --ui-login-input-border-color: #ccc;
  --ui-login-input-text-color: #fff;
  --ui-login-input-bg-color: #2d343c;

  --ui-login-button-color: #2d343c;
  --ui-login-button-hover-color: #ff9933;
  --ui-login-button-text-color: #fff;
  --ui-login-button-text-hover-color: #fff;
  --ui-login-button-border-color: #ff9933;
  --ui-login-button-border-hover-color: #ff9933;

  --ui-login-text-color: #ccc;
  --ui-login-text-error-color: #CD5C5C;

  --ui-login-link-color: #ccc;
  --ui-login-link-hover-color: #fff;
}

.container{
  background: var(--ui-login-container-bg-color);
	border:1px var(--ui-login-container-border-color) solid;
  border-radius: 10px;

  margin: auto;
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  top: 0;

  min-width: 300px;
  max-width: 450px;

  min-height: 260px;
  max-height: 275px;
}


.login{
  font-family: 'Lato', sans-serif;
  font-size:1em;
  font-weight: 300;
}


.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: auto;
  text-align:center;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 1em;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-top:2em;
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  background: var(--ui-login-input-bg-color);
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  background: var(--ui-login-input-bg-color);
}

.login .btn[type="submit"],
.login .submit-login{
	background: var(--ui-login-button-color);
	font-weight: 300;
	text-transform: uppercase;
	border:1px var(--ui-login-button-border-color) solid;
	margin-bottom:15px;
	color: var(--ui-login-button-text-color);
}

.login .btn[type="submit"]:hover,
.login .submit-login:hover{
	background: var(--ui-login-button-hover-color);
	color: var(--ui-login-button-text-hover-color);
}


.form-signin a {
	color: var(--ui-login-link-color);
  cursor:pointer;
}

.form-signin a:hover {
	color: var(--ui-login-link-hover-color)
}

.form-signin .footer {
  font-size:0.8em;
  margin-bottom:0.5em;
	color: var(--ui-login-text-color);
}

#error {
  font-size:0.8em;
  color: var(--ui-login-text-error-color);
  visibility: hidden;
}

.error {
  visibility: visible;
  animation: attention 300ms linear both;
  animation-iteration-count: 2;
}

@keyframes attention {
  0.00% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1); }
  11.11% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 1.725, 0, 1, 1); }
  22.22% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 10.113, 0, 1, 1); }
  33.33% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 12, 0, 2, 1); }
  44.44% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 4.08, 0, 2, 1); }
  55.56% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -3.84, 0, 2, 1); }
  66.67% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -12, 0, 3, 1); }
  77.78% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -10.275, 0, 3, 1); }
  88.89% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -1.887, 0, 3, 1); }
  100.00% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 3, 1); }
}

.form-signin .form-control{
	background: var(--ui-login-bg-color);
	border-color: var(--ui-login-input-border-color);
	color: var(--ui-login-input-text-color)
}
